* {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  text-align: center;
  font-size: 30px;
  display: grid;
  gap: 5px;
  /* grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 5fr 1fr; */

  /******** OR ************/
  /* grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(2, 1fr) 5fr 1fr; */

  /******** OR ************/
  grid-template: 1fr 1fr 5fr 1fr / 1fr 3fr;

  grid-template-areas: 
    /* row1: column column */
    "header header"
    /* row2: column column */
    "aside nav"
    /* row3: column column */
    "aside article"
    /* row4: column column */
    "footer footer";
}

header {
  background: #ffcdd2;
  grid-area: header;
}

aside {
  background: #e1bee7;
  grid-area: aside;
}

nav {
  background: #bbdefb;
  grid-area: nav;
}

article {
  background: #dcedc8;
  grid-area: article;
}

footer {
  background: #ffecb3;
  grid-area: footer;
}
